{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>MySongSearch</title>
    <link 
    rel="stylesheet" 
    type="text/css"
    href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>MySongList</h1>
    </header>

    <nav>
        {% include 'search/navbar.html' %}
    </nav>

    {% if messages %}
    <div class="warning-message">
        <div class="warning-message-wrap">
            <div "warning-text">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
        <button 
            type=button 
            class="remove-message"
            onclick="removeMessage(this)">
            ⨉
        </button>
    </div>
    {% endif %}
    
    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
       
    </footer>

    <script>
        // removes warning message
        function removeMessage(t) {
            // initialize variable to the remove button
            const rembtn = $(t);
            // removes the div containing the warning message
            $(rembtn).closest('.warning-message').remove();
        }
    </script>
</body>
</html>