<ul>
    {% with url_name=request.resolver_match.url_name %}
    <li>
        <a href="{% url 'home' %}" 
        class="nav-item {% if url_name == 'home' %}nav-item-current{% endif %}">
        Home
        </a>
    </li>
    <li>
        <a href="{% url 'song-list' %}" 
        class="nav-item {% if url_name == 'song-list' %}nav-item-current{% endif %}">
        Song List</a>
    </li>
    <li>
        <a href="{% url 'quick-search' %}" 
        class="nav-item {% if url_name == 'quick-search' %}nav-item-current{% endif %}">
        Quick</a>
    </li>
    <li>
        <a href="{% url 'filter-search' %}" 
        class="nav-item {% if url_name == 'filter-search' %}nav-item-current{% endif %}">
        Filter</a>
    </li>
    {% if user.is_authenticated %}
    <li>
        <a href="{% url 'profile' %}" 
        class="nav-item {% if url_name == 'profile' %}nav-item-current{% endif %}">
        Profile</a>
    </li>
    <li>
        <a href="{% url 'logout-user' %}" 
        class="nav-item {% if url_name == 'logout-user' %}nav-item-current{% endif %}">
        Log out</a>
    </li>
    {% else %}
    <li>
        <a href="{% url 'login-user' %}" 
        class="nav-item {% if url_name == 'login-user' %}nav-item-current{% endif %}">
        Login</a>
    </li>
    <li>
        <a href="{% url 'register-user' %}" 
        class="nav-item {% if url_name == 'register-user' %}nav-item-current{% endif %}">
        Register</a>
    </li>
    {% endif %}
    {% endwith %}
    <li class="nav-sb">
        <form action="{% url 'quick-search'%}" method=POST>
            {% csrf_token %}
            <input 
            type="search" 
            id="search"
            placeholder="search song"
            name="searched"
            />
            <input
            type="hidden"
            name="search-type"
            value="song"
            >
        </form>
    </li>
</ul>

