{% extends 'search/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% if user.is_authenticated %}
    <div class="profile-header">
        <div class="profile-header-user">
            <h2>{{ user }}'s song list</h2>
        </div>
        <form method=POST action="" class="profile-header-form">
            {% csrf_token %}
            <select name="profile-order-type">
                <option value="added-order-old">Added (Old-New)</option>
                <option value="added-order-new">Added (New-Old)</option>
                <option value="song-score-hl">Score (High-Low)</option>
                <option value="song-score-lh">Score (Low-High)</option>
                <option value="song-az">Song (A-Z)</option>
                <option value="song-za">Song (Z-A)</option>
                <option value="artist-az">Artist (A-Z)</option>
                <option value="artist-za">Artist (Z-A)</option>
                <option value="show-az">Show (A-Z)</option>
                <option value="show-za">Show (Z-A)</option>
            </select>
            <input 
            type="submit"
            value="order songs"
            name="profile-order"
            >
        </form>
        <div class="profile-header-timer">
            {% if total_time %}
            time: {{ total_time }}
            {% endif %}
        </div>
    </div>
    <div id="song_list_header_space">

    </div>
    <div class="single main-header">
        <h4>
            Song Name
        </h4>
        <h4>
            Artist
        </h4>
        <h4>
            Show
        </h4>
    </div>
    <ul id="results" class="result">
    </ul>

    {% for data in profile_songs %}
    
    {% if data.ProfileUser.MyUser == user %}
    <div class="song-info-div">
        <li class="content">
            <div onclick=show(this)>
                <div class="single main-results">
                    <h4>
                        {{ data.ProfileSong.song }}
                    </h4>
                    <h4>
                        {{ data.ProfileSong.artist }}
                    </h4>
                    <h4>
                        {{ data.ProfileSong.show }}
                    </h4>
                </div>
            </div>
            <div class="wrapper wrapper-hidden" id="wrapper">
                <p class="p1">
                    {{ data.ProfileSong.annid }}
                </p>
                <p class="p2">
                    {{ data.ProfileSong.opedin }}
                </p>
                <a href=""class="a1" target="_blank">
                    {{ data.ProfileSong.mp3 }}
                </a>
                <a href="" class="a2" target="_blank">
                    {{ data.ProfileSong.h720 }}
                </a>
                <a href="" class="a3" target="_blank">
                    {{ data.ProfileSong.h480 }}
                </a>
            </div>
        </li>
        <div class="song-add-div">
            <form method=POST name="profile-remove">
                {% csrf_token %}
                <input 
                type="hidden"
                value="{{ data.ProfileSong.pk }}"
                name="song_primary_key_remove"
                id="song_primary_key_remove"
                >
                <input 
                type="hidden"
                value="{{ user.pk }}"
                name="user_primary_key_remove"
                id="user_primary_key_remove"
                >
                <input 
                type="submit" 
                value="-" 
                name="submit_remove">
            </form>
        </div>
        <div class="wrapper-score">
            <div class="profile-form">
                <form action="{% url 'profile' %}" method=POST>
                    {% csrf_token %}
                    <input 
                    type="hidden"
                    value="{{ data.ProfileSong.pk }}"
                    name="song_primary_key_score"
                    >
                    <select name="song_score" onchange="this.form.submit()">
                        <option value="--">--</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </form>
            </div> 
            <div class="profile-score">
                <center>
                    <p class="data-profile-score">{{ data.ProfileScore }}</p>
                </center>
            </div>
        </div>
    </div>

    {% endif %}
    {% endfor %}
    <script src="{% static 'js/fold-quick.js' %}"></script>
    {% else %}
    <center>
        <h3 style="margin-top: 2rem;">You are not logged in
            <br>
            Please Register or Log in to see your profile
        </h3>
    </center>
    {% endif %}
    <script>
        $(function() {
            //grabs form (to remove song from user list) on submit
            $('form[name="profile-remove"]').on('submit', function(e) { 
                e.preventDefault(); //prevent page from reloading
                $(this).closest('.song-info-div').remove(); //deletes the song div
                $.ajax({ //sending ajax request
                    type:'POST',
                    url:'{% url 'profile' %}',
                    data:{
                        //this refers to current song pk, without it the first pk is sent
                        song_primary_key_remove:$('#song_primary_key_remove', this).val(),
                        user_primary_key_remove:$('#user_primary_key_remove', this).val(),
                        //csrf token important for form to work
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    },
                });
            })
        })
    </script>
    {% endblock %}
</body>
</html>