{% extends 'search/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {% block content %}
    {% if user.is_authenticated %}
    <div>
        <h1>Profile</h1>
        <p>Hello {{ user }}</p>
        <ul>
            <li>
                <p>avg score</p>
                <p>Personal List</p>
                <p>Favorites</p>
            </li>
        </ul>
    </div>
    <div id="song_list_header_space">

    </div>
    <div class="single main-header">
        <h4>
            Song Name
        </h4>
        <h4>
            Artist
        </h4>
        <h4>
            Show
        </h4>
    </div>
    <ul id="results" class="result">
    </ul>

    {% for data in profile_songs %}
    
    {% if data.ProfileUser.MyUser == user %}
    <div class="song-info-div">
        <li class="content">
            <div onclick=show(this)>
                <div class="single main-results">
                    <h4>
                        {{ data.ProfileSong.song }}
                    </h4>
                    <h4>
                        {{ data.ProfileSong.artist }}
                    </h4>
                    <h4>
                        {{ data.ProfileSong.show }}
                    </h4>
                </div>
            </div>
            <div class="wrapper wrapper-hidden" id="wrapper">
                <p class="p1">
                    {{ data.ProfileSong.annid }}
                </p>
                <p class="p2">
                    {{ data.ProfileSong.opedin }}
                </p>
                <a href=""class="a1" target="_blank">
                    {{ data.ProfileSong.mp3 }}
                </a>
                <a href="" class="a2" target="_blank">
                    {{ data.ProfileSong.h720 }}
                </a>
                <a href="" class="a3" target="_blank">
                    {{ data.ProfileSong.h480 }}
                </a>
            </div>
        </li>
        <div class="song-add-div">
            <form action="{% url 'profile' %}" method=POST>
                {% csrf_token %}
                <input 
                type="hidden"
                value="{{ data.ProfileSong.pk }}"
                name="song_primary_key_remove"
                >
                <input 
                type="hidden"
                value="{{ user.pk }}"
                name="user_primary_key_remove"
                >
                <input 
                type="submit" 
                value="-" 
                name="submit_remove">
            </form>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <script src="{% static 'js/fold-quick.js' %}"></script>
    {% else %}
    <center>
        <h3 style="margin-top: 2rem;">You are not logged in
            <br>
            Please Register or Log in to see your profile
        </h3>
    </center>
    {% endif %}
    {% endblock %}
</body>
</html>