{% extends 'search/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% if user.is_authenticated %}
    <div>
        <p class="already">You are already registered!</p>
    </div>
    {% else %}
        {% if form.errors %}
        <div class="warning-message">
            <div class="warning-message-wrap">
                <div "warning-text">
                    <p>Error with registration form</p>
                </div>
            </div>
            <button 
                type=button 
                class="remove-message"
                onclick="removeMessage(this)">
                ⨉
            </button>
        </div>
        {% endif %}
        <div class="register-border">
            <form action="{% url 'register-user' %}" method=POST>
                {% csrf_token %}
                <div class="register-form-items">
                    <h1 class="register-header">Register</h1>
                        {% for field in form %}
                        <div class="register-inputs">
                            <label class="register-label">{{ field.label }}</label>
                            {{ field }}
                            <div "register-help">
                                {{ field.help_text }}
                            </div>
                        </div>
                        {% endfor %}
                    <div class="register-button-div">
                        <input 
                        type="submit" 
                        value="Submit"
                        class="register-button">
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
    {% endblock %}
</body>
</html>