* {
    box-sizing: border-box;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px 0px;
    font-size: 1.3rem;
    font-family: 'Rubik Maze', cursive;
}

nav > ul {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(8, 109, 8);
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-item, .nav-item:visited {
    font-size: 1rem;
    padding: 0.66rem 2rem;
    text-decoration: none;
    color: rgb(1, 58, 1);
}

.nav-item:hover {
    font-size: 1rem;
    text-decoration: none;
    background-color: rgb(7, 86, 7);
}

.nav-item:active {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(48, 53, 130);
}


body {
    /* display: flex;
    flex-direction: column; */
    background-color: rgb(2, 91, 2);
    font-family: 'Lato', sans-serif;
}

main {
    padding: 0% 2.5%;
}

.search {
    padding: 0.75rem 0rem;
    display: flex;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.search-song, .search-artist, .search-show {
    border: 2px solid salmon;
    display: flex;
    margin: 0 auto;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    font-size: 1.25rem;
}


.search-button {
    border: none;
    border-radius: 5px;
    background-color: rgb(8, 109, 8);
    padding: 0.75rem 2rem;
    font-size: 1rem;
    display: flex;
    margin: 0 auto;
}

.search-button-box {
    padding-top: 1rem;
}
.search-button:hover {
    background-color: rgb(15, 121, 15);
}

.search-button:active {
    box-shadow: inset 0 0 15px rgb(16, 85, 196);
}

a:link, a:visited {
    color: blue;
}

a:hover {
    color: rgb(14, 14, 127);
}

a:active {
    color: rgb(201, 4, 4);
}

.content {
    list-style-type: none;
    padding: 0.1rem 0rem;
}

.result {
    padding: 5px 0px;
}

.single {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.75rem 0rem;
}

.main-header {
    background-color: rgb(11, 106, 11);
    font-size: 1.5rem;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.single > h4 {
    flex-grow: 1;
    flex-shrink: 0;
    padding-left: 0.25rem;
}

.single > h4:nth-child(1), .single > h4:nth-child(2), .single > h4:nth-child(3) {
    flex-basis: 5px;
}

.main-results {
    background-color: rgb(8, 109, 8);
}

.main-results:hover {
    background-color:rgb(15, 121, 15)
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(3, 124, 3);
}

.p1, .p2, .a1, .a2, .a3 {
    border: 2px solid rgb(8, 109, 8);
    flex-grow: 1;
    padding: 0.125rem 0.25rem;
}

.wrapper-hidden {
    display: none;
}

.p1, .p2 {
    flex-basis: 50px;
}

.a1, .a2, .a3 {
    flex-basis: 200px;
}

#song_list_header_space {
    padding: 6px 0px;
}


.login-form {
    border: 2px solid rgb(7, 137, 76);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

.login-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.login-field {
    width: 200px;
    height: 30px;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 2px;
    background-color: rgb(208, 230, 234);
}

.login-button {
    margin-top: 42px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(153, 151, 151);
}

.login-button:hover {
    background-color: rgb(15, 121, 15);
    border: 2px solid rgb(3, 88, 3);
}

.login-button:active {
    box-shadow: inset 0 0 15px rgb(16, 85, 196);
}

.page-all {
    background-color: rgb(2, 91, 2);
}

.page-list {
    border: 2px solid rgb(1, 122, 1);
    display: flex;
    min-width: 35px;
    justify-content: center;
    margin-top: 10px;
    background-color: rgb(8, 109, 8);
}

.page-link {
    font-size: 16px;
    padding: 4px;
    text-decoration: none;
}

.page-list:hover {
    background-color: rgb(2, 136, 2);
}

.already {
    text-align: center;
}

.song-info-div {
    display: block;
    position: relative;
}

.song-add-div {
    display: block;
    position: absolute; 
    right: 5px;
    top: 13px;
}

.filter-annid, .filter-show, .filter-song, .filter-opedin, .filter-artist {
    border: 2px solid rgb(132, 34, 132);
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 30px;
    width: 180px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgb(244, 218, 244);
}

.filter-form {
    display: flex;
    margin: 20px 0px;
}

.filter-button {
    border: none;
    border-radius: 5px;
    background-color: rgb(8, 109, 8);
    font-size: 0.9rem;
    display: flex;
    margin: 0 auto;
}

.filter-button:hover {
    box-shadow: inset 0px 10px 30px rgb(116, 74, 128), inset 0px -10px 15px rgb(47, 47, 130);
}

.filter-button:active {
    box-shadow: inset 0 0 100px rgb(73, 60, 128);
}

.quick-form {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: 10px auto;
}

.quick-option, .quick-search, .quick-button {
    display: flex;
    border: 2px solid rgb(230, 221, 89);
}

.quick-search {
    display: flex;
    margin: 0 auto;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgb(243, 243, 201);
}

.quick-option {
    height: 30px;
}

.quick-button {
    border: none;
    border-radius: 5px;
    background-color: rgb(8, 109, 8);
    font-size: 0.9rem;
    display: flex;
}

.quick-button:hover {
    box-shadow: inset 0px 10px 30px rgb(122, 146, 15), inset 0px -10px 15px rgb(152, 106, 6);
}

.quick-button:active {
    box-shadow: inset 0px 0px 100px rgb(154, 187, 7)
}

.profile-form {
    display: block;
    position: absolute;
    top: 13px;
    right: 30px;
    width: 40px;
}

.profile-score {
    background-color:rgb(8, 109, 8);
    display: block;
    position: absolute;
    top: 13px;
    right: 30px;
    width: 42px;
    height: 24px;
} 

.profile-score:hover {
    border: 2px solid orange;
    display: none;
    position: absolute;
    top: 13px;
    right: 30px;
    width: 40px;
} 

.data-profile-score {
    display: block;
}

.nav-item-current, .nav-item-current:visited {
    font-size: 1rem;
    padding: 0.66rem 2rem;
    text-decoration: none;
    background-color: rgb(7, 125, 7);
}

.nav-item-current:hover {
    font-size: 1rem;
    text-decoration: none;
    background-color: rgb(7, 86, 7);
}

.nav-item-current:active {
    font-size: 1rem;
    text-decoration: none;
}

.profile-header {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.profile-header-form {
    margin: auto 0px;
}

.profile-header-timer {
    margin: auto 0px;
    display: flex;
}

.warning-message {
    display: block;
    position: relative;
    background-color: rgb(70, 112, 70);
    padding: 0.75rem 0;
}

.warning-message-wrap {
    display: flex;
    justify-content: center;
}

.remove-message {
    position: absolute;
    right: 5px;
    top: 2px;
    border: none;
    background-color: rgb(70, 112, 70);
    color: rgb(186, 142, 55);
    font-size: 30px;
}

.remove-message:hover {
    color: rgb(235, 181, 71)
}

.register-form {
    width: 100%;
    height: 1.85rem;
    font-size: 0.9rem;
    border-radius: 6px;
    background-color: rgb(208, 230, 234);
}

.register-border {
    width: 800px;
    border: 2px solid rgb(7, 137, 76);
    margin: 1rem auto 0 auto;
    height: 580px;
}

.register-form-items {
    width: 700px;
    margin: 0 auto;
}

.register-label, .register-header {
    display: flex;
    justify-content: center;
}

.register-label {
    margin-bottom: 2px;
}

.register-header {
    margin: 1rem 0 1.4rem 0;
}

.register-button-div {
    display: flex;
    justify-content: center;
}

.register-button {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(153, 151, 151);
}

.register-button:hover {
    background-color: rgb(15, 121, 15);
    border: 2px solid rgb(3, 88, 3);
}

.register-button:active {
    box-shadow: inset 0 0 15px rgb(16, 85, 196);
}

.register-inputs {
    margin-bottom: 1.5rem;
}

.nav-sb {
    margin-left: 30px;
}

.wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px 10px;
}

.wrapper1header {
    grid-column: 1/-1;
    grid-row: 1;
    display: flex;
    justify-content: center;
}
.img { 
    max-width: 100%; 
    height: auto ;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 10px;
}

.wrapper2header {
    grid-column: 1/-1;
    grid-row: 1;
    display: flex;
    justify-content: center;
}

.wrapper3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 10px;
}

.wrapper3header {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
}

.submit-add {
    border: 2px solid rgb(24, 102, 24);
    box-shadow: inset 0px 10px 10px rgb(68, 168, 88), inset 0px -5px 15px rgb(55, 55, 194);
}

.submit-add:hover {
    border: 2px solid rgb(16, 66, 16);
    box-shadow: inset 0px 10px 10px rgb(45, 109, 57), inset 0px -5px 15px rgb(35, 35, 125);
}

.submit-add:active {
    border: 2px solid rgb(12, 48, 12);
    box-shadow: inset 0px 10px 10px rgb(31, 76, 40), inset 0px -5px 15px rgb(23, 23, 82);
}

.submit-remove {
    border: 2px solid rgb(217, 124, 124);
    box-shadow: inset 0px 10px 10px rgb(205, 168, 167), inset 0px -5px 15px rgb(151, 74, 187);
}

.submit-remove:hover {
    border: 2px solid rgb(136, 47, 47);
    box-shadow: inset 0px 10px 10px rgb(133, 70, 68), inset 0px -5px 15px rgb(103, 31, 136);
}

.submit-remove:active {
    border: 2px solid rgb(106, 20, 20);
    box-shadow: inset 0px 10px 10px rgb(66, 26, 24), inset 0px -5px 15px rgb(73, 17, 99);
}

.score-header {
    position: relative;
}

.score-header-p {
    position: absolute; 
    right: 27px; 
    top: -38px; 
    z-index: 1; 
    font-size: 1.2rem;
}

.order-songs:hover {
    background-color: rgb(122, 182, 32);
}

.home-text-center {
    display: flex;
    justify-content: center;
}

.orange-words {
    color: orange;
}

.orange-border {
    border: 2px solid orange;
}

.yellow-words {
    color: yellow
}

.yellow-border {
    border: 2px solid yellow;
}

.purple-words {
    color: rgb(154, 81, 154);
}

.purple-border {
    border: 2px solid rgb(154, 81, 154);;
}

.pink-words {
    color: pink;
}

.pink-border {
    border: 2px solid pink;
}

.light-blue-border {
    border: 2px solid lightskyblue;
}

.red-words {
    color: red;
}

.red-border {
    border: 2px solid red;
}

.green-words {
    color: green;
}

.green-border {
    border: 2px solid green;
}

.dark-blue-words {
    color: rgb(80, 80, 158);
}

.dark-blue-border {
    border: 2px solid rgb(80, 80, 158);
}

.dark-purple-words {
    color: rgb(78, 45, 80);
}

.dark-purple-border {
    border: 2px solid rgb(78, 45, 80);
}